/* You can add global styles to this file, and also import other style files */
@import '@ng-doc/app/styles/themes/dark.css';

ng-doc-page-link:has(~ .ng-doc-code-with-link) {
  display: none;
}

:root {
  --ng-doc-text: rgb(20, 20, 20);
  --ng-doc-app-max-width: 1800px;
  &[data-theme='dark'] {
    --ng-doc-text: rgb(200, 200, 200);
  }
}
