@layer global {
  html,
  body {
    font-family: 'Inter', sans-serif;
    background: var(--ngn-color-background);
    color: var(--ngn-color-text);
    @apply h-full;
  }
  * {
    scrollbar-color: var(--ngn-color-scrollbar);
  }
  h1 {
    @apply text-4xl font-semibold mt-4 mb-4;
  }
  h2 {
    @apply text-3xl font-semibold mt-4 mb-4;
  }
  h3 {
    @apply text-2xl font-semibold mt-3 mb-3;
  }
  h4 {
    @apply text-xl font-semibold mt-2 mb-2;
  }
  h5 {
    @apply text-lg font-semibold mt-2 mb-2;
  }
}

.mono {
  font-family: 'Consolas', 'Menlo', 'Monaco', 'Lucida Console', 'Courier New', monospace;
}
