:host {
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
  border-left: 1px solid var(--ngn-color-surface-200);
  background: var(--ngn-color-surface-50);
}

.selected {
  color: var(--ngn-color-primary-600);
  background-color: var(--ngn-color-primary-100);
}
