/* You can add global styles to this file, and also import other style files */

*,
*::before,
*::after {
  box-sizing: border-box;
  // Disable animations. Can't set to "none", because forwarded animations should still apply.
  transition-duration: 0s !important;
  animation-duration: 0s !important;
}

.page-center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
